@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

body {
  height: 100%;
}

.App {
  --mid: #333;
}

.content {
  display: flex;
  justify-content: center;
  margin: 16px auto;
}

.button {
  background-color: #ff9900;
  padding: 12px;
  font-size: 16px;
  margin: 16px;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  max-width: 90vw;
  width: 200px;
  text-align: center;
}

.tablebutton {
  background-color: #ff9900;
  padding: 2px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  width: 50px;
  text-align: center;
  transform: translateX(5px);
}

.button a {
  color: white;
}

.links a:hover {
  color: blue;
}

nav {
  border-bottom: 1px solid;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  justify-content: space-between;
}

nav h1 {
  color: #ff9900;
}

a {
  text-decoration: none;
  padding: 8px;
  color: var(--mid);
}

table {
  width: 95vw;
  max-width: 600px;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

[contenteditable] { 
  outline: 0px solid transparent; 
} 
td {
  border: 1px solid;
}