@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

body {
  height: 100%;
  background-image: url("/public/backwave.png");
  background-position-x: center;
}

.App {
  --mid: #333;
}

.content {
  display: flex;
  justify-content: center;
  margin: 16px auto;
}

.button {
  background-color: #ff9900;
  padding: 12px;
  font-size: 16px;
  margin: 16px;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  max-width: 90vw;
  width: 200px;
  text-align: center;
}

.tablebutton {
  background-color: #ff9900;
  padding: 2px;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  width: 50px;
  text-align: center;
  transform: translateX(5px);
}

.button a {
  color: white;
}

.links a:hover {
  color: blue;
}

nav {
  border-bottom: 1px solid;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  justify-content: space-between;
}

nav h1 {
  background-image: linear-gradient(45deg, #009dff, #c8ff00);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a {
  text-decoration: none;
  padding: 8px;
  color: var(--mid);
}

.ag-theme-alpine {
  overflow-x: hidden;
}

/*button*/

.button-85 {
  padding: 0.8em 3em;
  color: white;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-align: center;
  font-size: 17px;
  width: 150px;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}